header {
  background-color: inherit;
  border: 5px solid black;
  color: white;
  padding: 20px;
  text-shadow: #FF532E 1px 0 10px;
}

.lien-musique {
  width: 600px;
  border-width: 10px;
  border-color: black;
}

.lien-video {
  border-width: 10px;
  border-color: black;
}

footer {
  background-color: grey;
}

.footer {
  color: white;
}

body {
  background-color: grey;
}

.bouton {
  background-color: inherit;
}
